{% extends "poll/base.html" %}


{% block title %}
    <title> Add Question </title>
{% endblock %}



{% block body %}
    <div class="w-full p-2 text-white">
            {% if message %}
                {{ message }}
            {% endif %}


            <form action="{% url 'poll:add_question' %}" method="post" class="w-full">
                {% csrf_token %}
                
                {% for field in question_form %}
                <p class="w-full ">
                    {{ field.label_tag}} 
                    <br>
                    <span class="text-gray-900"> {{ field }}</span>

                    {% if field.help_text %}
                        {{ field.help_text }}
                    {% endif %}

                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
                {% endfor %}
                <input type="submit" class="bg-green-700 p-2 rounded-md" value="Ask">
            </form>

    </div>
    


{% endblock %}