{% extends "poll/base.html" %}


{% block title %}
    <title> Add Options </title>
{% endblock %}



{% block body %}

    <div class="text-white w-full">
        {% if message %}
                {{ message }}
            {% endif %}

            <p>
                Add options for the question...
            </p>

            <strong>
                {{ question.question_text }}
            </strong>

            <br>

            <form action="{% url 'poll:add_choices' %}" method="post">
                {% csrf_token %}
                
                {% for field in choices_form %}
                <p>
                    {{ field.label_tag}} <br>
                    <span class="text-gray-900"> {{ field }}</span>

                    {% if field.help_text %}
                        {{ field.help_text }}
                    {% endif %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </p>
                {% endfor %}
                <input type="submit" value="Add Choices">
            </form>
    </div>
    



{% endblock %}