{% load static %}

<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'poll/app.css' %}" />

        {% block title %}
        {% endblock%}
    </head>

    <body>
        <header id="top_nav" class="w-full h-auto bg-gray-900 flex items-center justify-between text-white">
            <a href="{% url 'poll:index' %}" class="text-2xl font-bold"> Home </a> 
            <div id="search_group">
                <form action="{% url 'poll:search' %}" method="get">
                    <input type="text" name="query" placeholder="Search Polly">
                    <input type="submit" value="Search">
                </form>
            </div>
            <a href="{% url 'poll:index' %}"> ooo </a>
        </header>

        <hr>
        {% if user.is_authenticated %}
            <div id="side_nav">
                <a href="{% url 'poll:home' %}"> Home </a> 
                <a href="{% url 'users:profile' request.user %}"> Profile </a>
                <a href="{% url 'poll:notifications' %}"> Notifications </a>
                <a href="{% url 'poll:add_question' %}"> Create Poll </a>    
                <a href="{% url 'users:logout' %}"> Log Out </a>
            </div>
        {% endif %}
        
        {% block body %}
        {% endblock%}

        {% if not user.is_authenticated %}
            <div id="bottom_auth_nav">
                <a href="{% url 'users:login' %}"> Log in </a>    
                <a href="{% url 'users:signup' %}"> Sign Up</a>
            </div>
        {% endif%}
    </body>
</html>