{% extends "poll/base.html" %}

{% load static %}

{% block title %}
    <title> Poll </title>
{% endblock %}



{% block body %}

    <div class="w-full bg-gray-950 text-white p-2">
        <div class="">
            <h1 class="text-xl font-medium"> {{ question }} </h1>

            <form action="{% url 'poll:vote' %}" method="post">
                {% csrf_token %}
                <ul class="flex-col gap-2">
                {%  for option in options %}
                    <li class="hover:font-medium  w-full py-2 flex justify-between items-center">
                        <span class="flex ">
                            <input class="p-2 selection:text-green-700 " type="radio" name='option_pk' value= {{ option.pk }}  /> 
                            <p class="ml-3">{{option.choice_text}}</p> 
                        </span>
                    
                    <p class="font-bold">{{ option.voters.count }}</p> 
                    </li>
                {%  endfor %}
                </ul>
                <input type="submit" class="bg-green-700 text-white py-1 px-2 rounded-md " name="answer"  {% if not user.is_authenticated %} disabled {% endif %} value="Vote">
            </form>

            <form action="{% url 'poll:like' %}" method="post" class="mt-2">
                {% csrf_token %}
                <input type="hidden" name="question" value={{ question.id }}>
                <input type="submit"  class="bg-blue-700 text-white py-1 px-3 rounded-md "  name="like"  {% if not user.is_authenticated %} disabled {% endif %} value="Like">
            </form>

        </div>
        <div class="w-full">
            <p class="text-gray-500"> <span class="text-white"> {{ count }} </span>Votes </p>
            <p class="text-gray-500"> <span class="text-white"> {{ question.likers.count }}</span> Likes </p>
            
        
            
            {{ message }}
        
        
            {% if request.user == question.author.user %}
                <form action="{% url 'poll:delete' question.id  %}" method="post">
                    {% csrf_token %}
                    <input type="submit" name="delete" class="p-2 bg-red-600 rounded-md" value="Delete Poll">
                </form>
            {% endif %}
        
        
            
            
            
        
            <p>
                Author:
                <strong> 
                    <a href="{% url 'users:profile' question.author.user.username %}"> {{ question.author }} </a>  
                </strong>
            </p>
        </div>
    
        <div class="w-full">
            <hr class="my-3">

            <h3> Comments </h3>
        
            <form action="{% url 'poll:comment' %}" class="w-full flex justify-between" method="post">
                {% csrf_token %}
                <input type="hidden" name="question" value={{ question.id }}>
                <input type="text" class="text-gray-950 p-2" name="comment_text" placeholder="Coment on this poll">
                <input type="submit" class="bg-green-800 rounded p-2" name="comment" value="Post comment">
            </form>
        
        
            {% for comment in comments %}
        
                <ul> 
                    <li> {{ comment.comment_text }} </li> 
                    <em> By: <a href="{% url 'users:profile' comment.author %}"> {{ comment.author }} </a>  </em>
                </ul>
                
        
            {% endfor %}
        </div>
    </div>

    

{% endblock %}