{% extends "poll/base.html" %}


{% block title %}
    <title> Poll-y: Home  </title>
{% endblock%}



{% block body %}

    <!--- <h1> Polls from following </h1> --->

    <div class="bg-gray-950 w-full text-white">
        <h1 class="w-full flex justify-center text-2xl overflow-y-auto font-bold p-3"> Polls from following </h1>
        <ul>
            {% if latest_following_polls %}

                {% for poll in latest_following_polls %}
                
                    <li class=" ml-6 list-disc list-item space-x-3 hover:text-green-700 hover:italic x">
                            
                        <a href="{% url 'poll:poll_details' poll.pk %}" class> 
                            <p>{{ poll }}</p>  
                        </a>
                    </li>
                    
                {% endfor %}
            {% else %}
                <p> Your network have no polls yet </p>
            {% endif %}
        </ul>
    </div>

{% endblock %}