{% extends "poll/base.html" %}


{% block title %}
    <title> Following Feed </title>
{% endblock%}



{% block body %}

    <h1> Polls from following </h1>

    <ol>
        {% if latest_following_polls %}

            {% for poll in latest_following_polls %}
                <li>{{ poll }}</li> 
                <a href="{% url 'poll:poll_details' poll.id %}"> View Poll </a>
            {% endfor %}
        {% else %}
            <p> Your network have no polls yet </p>
        {% endif %}
    </ol>


{% endblock %}