{% extends "poll/base.html" %}
{% load static %}

{% block title %}
    <title> Polls </title>
{% endblock%}



{% block body %}
    <!--- <h1> Polls </h1> --->

    <ol>
        {% if questions %}

            {% for question in questions %}
                <li>{{ question }}</li> 
                <a href="{% url 'poll:poll_details' question.id %}"> View Poll </a>
            {% endfor %}

        {% else %}

            <p> There are no polls yet</p>
        
        {% endif %}
        
    </ol>


    
    
{% endblock %}