{% extends "poll/base.html" %}


{% block title %}
    <title> Search </title>
{% endblock%}



{% block body %}
    <div class="w-full bg-gray-950 text-white px-4">

        <h1 class="flex w-full items-center justify-center text-2xl font-medium"> Search Results [{{ results_length }}]</h1>

        <h3 class="text-xl font-bold underline underline-offset-2 text-green-700"> Questions ({{ question_results|length }})</h3>
        <ol>
            {% for poll in question_results %}
                <li class="list-disc ml-6">
                    <span>{{ poll }}</span> 
                    <a  class="italic text-sm text-green-700" href="{% url 'poll:poll_details' poll.pk %}"> View Poll </a>
                </li>
            {% endfor %}
        </ol>

        <h3 class="text-xl font-bold underline underline-offset-2 text-green-700"> People ({{ people_results|length }})</h3>
        <ol>
            {% for person in people_results %}
                <li>{{ person.user.username }}</li> 
                <a href="{% url 'users:profile' person.user.username %}"> View Person </a>
            {% endfor %}
        </ol>

        <h3 class="text-xl font-bold underline underline-offset-2 text-green-700"> Choices ({{ choice_results|length }})</h3>
        <ol>
            {% for choice in choice_results %}
                <li>{{ choice.choice_text }}</li> 
                <a href="{% url 'poll:poll_details' choice.question.id %}"> View Poll </a>
            {% endfor %}
        </ol>

    </div>

{% endblock %}