<!DOCTYPE html>
<html>
    <head>
        <title> 
            Log In
        </title>
    </head>
    


    <body>
        <a href="{% url 'poll:index' %}"> Go home</a>
        {% block message %}
            {% if message %}
                {{ message }}
            {% endif %}
        {% endblock %}


        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password">
            <br>
            <input type="submit" value="Login">
        </form>

        <p> Don't have an account? <a href="{% url 'users:signup' %}"> Register </a> </p> 

    </body>



    

</html>
