{% extends 'poll/base.html' %}

{% block title %}
    <title> Profile </title>
{% endblock %}



{% block body %}

    <h2> Welcome, {{ user.username.capitalize }} </h2>
    <p>---- {{ user.email }} </p>

    <hr>

    <p> Followers </p>
    <ol>
        {% for follower in followers %}
            
            <li> <a href="{% url 'users:profile' follower %}"> {{follower}} </a> </li>

            {% empty %}
                <i> You don't have any followers</i>

        {% endfor %}
    </ol>
    
    <hr>
    
    <h3><i> My Polls... ({{ questions|length }})</i></h5>
    
    <ol>
    {% for question in questions %}
    
        <li> {{ question.question_text }} </li>
        <a href="{% url 'poll:poll_details' question.id %}"> View Poll </a>

    {% empty %}
        <i> You haven't created any polls </i>
    {% endfor %}
    </ol>

    {% if request.user != user %}
        <form action="{% url 'users:connect' user.id  %}" method="post">
            {% csrf_token %}
            <input type="submit" name="connect" value="Connect">
        </form>
    {% endif %}
        
    <br>
    <a href="{% url 'users:logout' %}"> Logout </a>
    
{% endblock %}
